//리셋 코드
* {margin:0; padding:0;}
li{list-style:none;}
img{vertical-align:top;}
a{text-decoration:none;}


body { font-family: "Pretendard";}
 
header {
	position: fixed; width: 100%; z-index: 999; box-sizing: border-box;
	background: transparent; transition:all .4s; box-shadow:0 5px 5px rgba(0, 0, 0, 0.3);
	.inner{max-width:1617px; margin:0 auto; text-align:center;
		display:flex; align-items:center; justify-content:space-between;}
	#header_Logo {float: left; margin: 20px 0;}
	#gnb {float: right; margin: 20px 0;
		ul {display: flex; gap:55px;}
		li {cursor: pointer;}
		a{color: #000; font-size:22px;}
		a:hover {color:#76B638;}
	}
	#header_R{
		display:flex; gap:25px;
		.search{
			display:flex; width:0 auto; position:relative;
			#search_input{
				position:absolute; border:1px solid transparent; right: 24px; width:0; border-bottom:2px solid #000;
				background: none; outline:none; font-size:20px; overflow:hidden; visibility:hidden; transition:all .5s;
				&::placeholder{color:#000;}
				&.active{width:1000%; visibility:visible;}
			}
			#search_icon{cursor:pointer;}
		}
	}
}
 

main { height: 100vh; overflow: hidden;}

.container {
	.area {width: 100%;	height: 100vh;	}
	#report {background:url("../images/back_img1.png")no-repeat; background-size:cover;}//url주소로 배경 이미지 넣기
	#business {background:url("../images/back_img2.png")no-repeat; background-size:cover;}
	#engineLink {background:url("../images/bottom_backIMG.png")no-repeat; background-size:cover;}
}

//메인 상단
#view{ position:relative;
	.main_visual{
		width:100%; height: 100vh; overflow:hidden;	//vh :뷰에 맞춤
		.visual{display:flex;}
		.visual_img{
			width:100%; height:100vh; flex-shrink:0;//자동으로 줄어들지 말라고 넣음
			img{width:100%; height:100%; object-fit:cover;}//화면이 조정되도 정비율
		}
	}
	//메인뷰 아이콘 스타일
	.menu_bar{
		position:absolute; z-index:999;//가장 앞으로 나옴
		bottom:0; left:0; width:100%;
		.inner{max-width:1617px; margin:0 auto; display:flex;}
		.menu_bar_icon1{
			background:url("../images/menu_back1.png")no-repeat; background-size:100% 100%;
			display:flex; width:60%; text-align:center; gap:66px; padding:1.5% 0; justify-content:center;//수평가운데 맞춤
			 align-items:center;//수직가운데 맞춤
			img{padding-left:8px;}
			dt{color:#fff; font-size:24px; line-height:37px; text-align:left; position:relative; 
			padding-right:20px;}
			dt::before{content:url("../images/shadow.png"); position:absolute; top:-18.5px; right:-40px;}
			p{color:#fff;font-size:19px; margin-top:10px;}
		}
		.menu_bar_icon2{
			background:url("../images/menu_back2.png")no-repeat; background-size:100% 100%;
			display:flex; width:40%; //수평정렬 : display:flex;
			padding:1.5% 0; text-align:center; gap:66px; justify-content:center;
			img{padding-left:8px;}
			p{color:#fff; font-size:19px; margin-top:10px;}
		}
	}

}	//end:#view

//메인 알림마당
#report{
	.inner{max-width:1617px; height:100%; margin:0 auto; display:flex; justify-content:space-between;
		align-items:center;}
	.title{width:30%;
		h4{font-size:21px; color:#34592E; margin-bottom:25px;
			display: flex; align-items: center; /* 세로 정렬 */ gap: 10px; /* 텍스트와 이미지 사이 간격 */ }
		h2{font-size:49px; color:#4F8C32; font-weight:bold; margin-bottom:9px;}
		h3{font-size:49px; color:#34592E; font-weight:bold; line-height:64px;}
		p img{margin-top:30px;}
	}
	.report_cards{
		width:65%; display:flex; gap:20px; flex-wrap:wrap;//줄바꿈
		.report_card{width:calc(50% - 10px); padding:30px; box-sizing:border-box; border-radius:10px; position:relative;/*부모로 설정▶부모요소를 기준으로 이동*/
			.badge{font-size:17px; border-radius:3px; padding:9px; font-weight:bold; display:inline-block; margin-bottom:13px;}
			 // ▲ display:inline-block : 원래 display:inline으로 되있어서, border밑으로 텍스트가 오도록 이처럼 설정
			h3{font-size:24px; font-weight:bold; line-height:35px; margin-bottom:20px;}
			>p{font-size:18px;  margin-bottom:30px; width: 100%;/* 원하는 너비 설정 */ white-space:nowrap;/* 한 줄 유지 */
				overflow:hidden;/* 넘치는 텍스트 숨김 */  text-overflow:ellipsis;/* 말줄임표(...) 표시 */
				&::before{content:""; width:4px; height:4px; display:inline-block; border-radius:50%;}
			}
			.plus{position:absolute;/*카드의 오른쪽 상단에 고정*/ top:30px; right:30px;
				font-size:30px; transition:all 0.4s; width:30px; text-align:center; height:30px; line-height:24px;}//plus버튼 돌아가도록 설정
			.plus:hover{transform:rotate(360deg);}//360도 회전
		}
		.notice{background:#D9E5C3; color:#34592E;
			.badge{background:#fff;}
			>p::before{border:2px solid #34592E;}
			a{color:#34592E;}
		}
		.recruit{background:#4F8C32; color:#fff;
			.badge{background:#34592E;}
			>p::before{border:2px solid #fff;}
			a{color:#fff;}
		}
		.business{background:#fff; color:#4F8C32;
			.badge{background:#D9E5C3;}
			>p::before{border:2px solid #4F8C32;}
			a{color:#4F8C32;}
		}
		.slidCard_imgs{
			padding:0; position:relative;
			.cards_i{overflow:hidden; border-radius:10px; height:100%;}
			.Card_imgs{display:flex; height:100%;
				.Card_img{flex-shrink:0; width:100%; height:100%; background-size:cover; background-position:center;}
			}
			.cards_number{
				position:absolute; right:0; bottom:-30px; display:flex; gap:10px; color:#ACCE6B;
			}
		}
	}
}	//end:#report

//메인 주요사업
#business{
	display:flex; justify-content:center; align-items:center;
	.inner{max-width:1617px; width:100%; margin:0 auto;}
	.title{//width:30%;
		h4{font-size:21px; color:#000; margin-bottom:25px;
			display: flex; align-items: center; /* 세로 정렬 */ gap: 10px; /* 텍스트와 이미지 사이 간격 */ }
		.business_title{display:flex;
			h2{font-size:49px; color:#000; font-weight:bold; margin-right:30px; line-height:70px;}
		}
	}
	.banner{
		display:flex; gap:9px; height:385px; position:relative;
		.banner_title{height:100%; border-radius:7px;}
		h2{font-size:38px; color:#fff; font-weight:bold; writing-mode:vertical-lr;
			width:fit-content; margin:0 auto; padding-top:60px;}
		h3{font-size:23px; color:#fff; font-weight:bold; line-height:40px; display:none;}
		.banner_title_1{background:url("../images/banner1.png")no-repeat;}
		.banner_title_2{background:url("../images/banner2.png")no-repeat;}
		.banner_title_3{background:url("../images/banner3.png")no-repeat;}
		.banner_title_4{background:url("../images/banner4.png")no-repeat;}
		label{display:block; width:128px;}
		input:checked + label{
			flex-grow:1;
			.banner_title{display:flex; flex-direction:column; justify-content:center;}
			h2{writing-mode:horizontal-tb; padding:0; width:100%; padding:0 0 20px 105px;}
			h3{display:block; padding-left:105px;}
		}
		input{display:none;}
		.business_ani2{position:absolute; bottom:-180px; transform:translateX(-50%); width:100px;}
	}
}	//end:#business

//메인 농산업정보
#information{
	display:flex; justify-content:center; align-items:center; color:#fff; position:relative;
	&::after{
		content:""; position:absolute; top:0; left:0; width:100%; height:100%; padding-bottom:183px; z-index:-1;
		background:url("../images/information_backIMG.png")no-repeat; background-size:cover;
	}
	.inner{position:relative; max-width:1617px; width:100%; margin:0 auto; max-height:760px; height:100%;}
	.title{
		padding-top:116px;
		.btn{margin-top:60px;}
		h3{font-size:21px; margin-bottom:25px;
		display: flex; align-items: center; /* 세로 정렬 */ gap: 10px; /* 텍스트와 이미지 사이 간격 */}
		h2{font-size:49px; font-weight:bold; line-height:70px;}
		.information_ani{position:absolute; bottom:-100px;}
	}
	.btn{background:transparent; border:1px solid #fff; padding:10px 20px; gap:10px; align-items:center; display:flex;
		cursor:pointer; font-size:25px; border-radius:14px; color:#fff; font-weight:550;
		&:hover{background:#A7B019; border:1px solid #A7B019;}
	}
	.info_box{
		padding:25px; position:absolute; background:rgba(50,70,30,0.5); width:30.7%; top:0%; left:37.3%; border-radius:25px; //width, left등 값은 px말고 %로 : 해당크기 나누기 inner(1617px)
		h4{font-size:35px; color:#242D1A; background:#A7B019; border-radius:14px;
			padding:10px 20px; font-weight:bold; width:25%; margin-bottom:13px;}
		li{padding:10px 20px; display:flex; font-size:25px; border-radius:18px; margin-top:8px;
			justify-content:space-between; /*아이템들의 “사이(between)”에 균일한 간격을 만들어 줌*/}
		li:nth-child(1), li:nth-child(3){border:2px solid #76B638;}
		li:nth-child(1):hover, li:nth-child(3):hover{background:#76B638;}
		li:nth-child(2n){border:2px solid #CAAA28;}
		li:nth-child(2n):hover{background:#CAAA28;}
		li a{color:#fff;}
	}
	.reference_box{
		position:absolute; background:rgba(50,70,30,0.5); border-radius:25px; align-items:center; padding:25px;
		left:76.6%; top:3%; width:15.6%; display:flex; flex-direction:column; //flex-direction:column : 수직정렬
		a{border-radius:50%; border:2px solid #CAAA28; aspect-ratio:1 / 1;}
		a:hover{background:#CAAA28;}
		img{padding:30px;}
		p{font-size:35px; color:#242D1A; background:#A7B019; border-radius:14px;
			padding:10px 20px; font-weight:bold; width:37%; margin-top:20px;}
	}
	.support_box{
		position:absolute; background:rgba(50,70,30,0.5); border-radius:25px; bottom:0; left:42.2%;
		width:30%; padding:25px;
		h4{font-size:35px; color:#242D1A; background:#A7B019; border-radius:14px;
			padding:10px 20px; font-weight:bold; width:40%; margin-bottom:20px;}
		.support_cicle ul{
			border-radius:50%; gap:10px; display:flex;
			li{border-radius:50%; border:2px solid #809F0D; width:30.7%;
				aspect-ratio:1 / 1; display:flex; align-items:center; text-align:center; justify-content:center;}
			li:hover{background:#809F0D;}
			li:nth-child(2){border:2px solid #CAAA28;}
			li:nth-child(2):hover{background:#CAAA28;}
			a{color:#fff; line-height:40px; font-size:25px;}
		}
	}
	.mou_box{
		position:absolute; background:#A7B019; border-radius:50%; aspect-ratio:1 / 1; width:18.3%;
		right:0; display:flex; flex-direction:column; align-items:center; justify-content:center;
		h4{font-size:35px; margin-bottom:40px; font-weight:bold;}
		.btn:hover{background:#4F8C32; border:1px solid #4F8C32;}
	}
}	//end:#information

//메인 협력기관링크 & 하단
#engineLink{
	display:flex; justify-content:center; z-index:100; position:relative;
	
	.engineLink_MOU{
		display:flex; justify-content:center; flex-wrap:wrap; width:100%;
		.inner{margin:0 auto; max-width:1617px; width:100%;}
		h3{
			font-size:49px; color:#000; display:flex; align-items:center; justify-content:center; margin-top:117px;
			span{font-weight:bold;}
			img{margin-left:30px; animation:waveHand 1s infinite ease-in-out alternate; //하단 캐릭터 움직이는 효과
				transform-origin: center bottom; /* 회전 중심을 손목 부분으로 설정 */}
		}
		ul{display:flex; justify-content:space-between; margin-top:25px;
			li{text-align:center;} 
		}
		.original{position:absolute; opacity:1; transition:opacity 0.3s ease-in-out;}
		.over{opacity:0; transition:opacity 0.3s ease-in-out;}
		//마우스 오버시
		.original:hover{opacity:0;}
		.over:hover{opacity:1;}
		p{margin-bottom:10px;}
		a span{flex-direction:column; align-items:center; color:#000; text-align:center;
			font-size:28px; line-height: 40px; font-weight:bold; white-space:nowrap;}
	}	//end:..engineLink_MOU

	footer{
		width: 100%; position:absolute; bottom:0; background:#DCEACE;
		&::before{content:""; position:absolute; right:0; width:176px; height:173px; top:-173px; z-index:-1;
			background:url("../images/bottom_back2IMG_03.png");}
		.inner{max-width:1617px; margin:0 auto; width:100%;}
		.footer_top{display:flex; width: 100%; justify-content:space-between; padding:35px 0; align-items:center;
			.gnb_1{
				display:flex; gap:100px;
				a{font-size:22px; font-weight:bold; color:#242D1A;}
			}
			.gnb_2{display:flex; gap:40px;}
		}
		hr{border:none; background-color:#4F8C32; height:1px;}
		.info{
			display:flex; width:100%; justify-content:space-between; padding:77px 0; align-items:center;
			address{
				color:#242D1A; font-size:18px; line-height:40px;
				a{color:#242D1A; text-decoration:underline;}
			}
			.mark{display:flex; gap:40px;}
		}
	}	//footer
}	//end:#engineLink



main .pager {
	position: absolute; top: 50%; right: 20px; transform: translateY(-50%);
	span {
		display: block; margin: 8px 0; width: 8px; height: 8px;
		background: #000; border-radius: 50%; opacity: 0.4; cursor: pointer;
	}
	span.active {opacity: 1;}
}

main .arrow {
	position: fixed; right: 20px; bottom: 20px; color:#000; z-index:1000;
	:hover{color:#76B638;}
	i {font-size: 40px; cursor: pointer;}
	.hidden {display: none;}
}

//하단 캐릭터 애니메이션 효과
@keyframes waveHand {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(10deg); }
}
